###########
## KiCad ##
###########
# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*_autosave*

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

##
## LibreOffice
##
*~lock.*

##
## Untracked Folder
## 
# Folder in root dir called .untracked for storing files relevant to the
# project but not necessarily important to share right away (if ever)
.untracked/
